[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/garbas/vim-snipmate
[submodule ".vim/bundle/vim-addon-mw-utils.vim"]
	path = .vim/bundle/vim-addon-mw-utils.vim
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib_vim.vim"]
	path = .vim/bundle/tlib_vim.vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-syntax-for-PHP.git"]
	path = .vim/bundle/vim-syntax-for-PHP.git
	url = git@github.com:2072/vim-syntax-for-PHP.git
[submodule ".vim/bundle/vim-elixir.git"]
	path = .vim/bundle/vim-elixir.git
	url = git@github.com:elixir-lang/vim-elixir.git
